.butt {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: #c40093;
    border: none;
    border-radius: 100px;
    width: fit-content;
    /* padding: .5rem 0; */
    padding: .5rem 2rem;
    /* margin: 0 auto; */
}

.butt:hover {
    background-color: rgb(154, 0, 121);
    cursor: pointer;
}

.butt a {
    
    color: rgb(14, 13, 13);
    font-weight: bold;
    text-decoration: none;
    /* padding: .5rem 2rem; */
    margin: auto;
}